@model IEnumerable<EventuresApp.Models.OrderListingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>All Orders</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedOn)
            </td>
            
        </tr>
}
    </tbody>
</table>
