@model IEnumerable<SkateApp.Models.Skateboard.SkateboardAllViewModel>

@{
    ViewData["Title"] = "All Skateboards";
}
<h1 class="text-center" style="color: lightgreen; background-color: purple; padding: 5px;">A new skate of mind</h1>
</br>

<table class="table">
    <thead>
        <tr>
            <th class="text-center" style="color:seagreen">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center" style="color:seagreen">
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th class="text-center" style="color:seagreen">
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th class="text-center" style="color:seagreen">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="text-center" style="color:seagreen">
                Order
            </th>
            <th class="text-center" style="color:seagreen">
                Add to favorites
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-center" style="color:purple">
                @Html.DisplayFor(modelItem => item.Name)

            </td>
            <td class="text-center" style="color:purple">
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Image" width="100" />
            </td>
            <td class="text-center" style="color:purple">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="padding-left:60px;">
                @await Html.PartialAsync("_OrderPartialView", new OrderCreateBindingModel
           {
               SkateboardId = item.Id
           })
            </td>
            <td style="padding-left:50px;">
                @await Html.PartialAsync("_FavoritePartialView", new FavoriteCreateBindingModel
           {
               SkateboardId = item.Id
           })
            </td>
            @if (this.User.IsInRole("Administrator"))
            {
                <td style="color:purple">
                    <a asp-action="Edit" asp-controller="Skateboards" asp-route-id="@item.Id" style="color:seagreen">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" style="color:seagreen">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" style="color:seagreen">Delete</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
