@model IEnumerable<SkateApp.Models.FavoriteListingViewModel>

    @{
        ViewData["Title"] = "My favorites";
    }

    <h1 class="text-center" style="color: lightgreen; background-color: purple; padding:5px;">Favorites</h1>
    <form asp-controller="Skateboards" asp-action="Favorite" method="get">
        <p style="color:purple;">
            Name: <input type="text" name="SearchString"/>
        </p>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center" style="color:seagreen">
                @Html.DisplayNameFor(model => model.SkateboardColour)
                </th>
                <th class="text-center" style="color:seagreen">
                    @Html.DisplayNameFor(model => model.SkateboardSize)
                </th>
                <th class="text-center" style="color:seagreen">
                @Html.DisplayNameFor(model => model.SkateboardPrice)
                </th>
                <th class="text-center" style="color:seagreen">
                    @Html.DisplayNameFor(model => model.SkateboardPicture)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="text-center" style="color:purple">
                    @Html.DisplayFor(modelItem => item.SkateboardColour)
                </td>
                <td class="text-center" style="color:purple">
                    @Html.DisplayFor(modelItem => item.SkateboardSize)
                </td>
                <td class="text-center" style="color:purple">
                    @Html.DisplayFor(modelItem => item.SkateboardPrice)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.SkateboardPicture)" alt="Image" width="100" />
                </td>
                <td>
                <td>
                <a style="color:purple" asp-action="Details" asp-route-id="@item.SkateboardId">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>