@model IEnumerable<SkateApp.Models.OrderListingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center" style="color: lightgreen; background-color: purple; padding: 5px;">Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th  class="text-center" style="color:seagreen">
                @Html.DisplayNameFor(model => model.OrderedOn)
            </th>
            <th class="text-center" style="color:seagreen">
                @Html.DisplayNameFor(model => model.SkateboardName)
            </th>
            <th class="text-center" style="color:seagreen">
                @Html.DisplayNameFor(model => model.CustomerUsername)
            </th>
            <th class="text-center" style="color:seagreen">
                @Html.DisplayNameFor(model => model.SkateboardsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center" style="color:purple">
                @Html.DisplayFor(modelItem => item.OrderedOn)
            </td>
            <td class="text-center" style="color:purple">
                @Html.DisplayFor(modelItem => item.SkateboardName)
            </td>

            <td class="text-center" style="color:purple">
                @Html.DisplayFor(modelItem => item.CustomerUsername)
            </td>
            <td class="text-center" style="color:purple">
                @Html.DisplayFor(modelItem => item.SkateboardsCount)
            </td>
        </tr>
}
    </tbody>
</table>
