@model IEnumerable<SkateApp.Models.Accessorie.AccessoriesAllViewModel>

@{
    ViewData["Title"] = "All Accessories";
}

<h1 class="text-center" style="color: purple; background-color: mediumseagreen; padding: 5px;">Accessories</h1>
<br/>

<table class="table">
    <thead>
        <tr>
            <th class="text-center" style="color:purple">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center" style="color:purple">
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th class="text-center" style="color:purple">
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th class="text-center" style="color:purple">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-center" style="color:seagreen">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center" style="color:seagreen">
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td class="text-center" style="color:seagreen">
                <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Image" width="100" />
            </td>
            <td class="text-center" style="color:seagreen">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @if (this.User.IsInRole("Administrator"))
            {
                <td style="color:green"> 
                    <a asp-action="Edit" asp-controller="Accessories" asp-route-id="@item.Id" style="color:mediumpurple">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" style="color: mediumpurple">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" style="color: mediumpurple">Delete</a>
                </td>
            }
        </tr>
        }
        </tbody>
    </table>
