@model SkateApp.Models.Accessorie.AccessoriesDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center" style="color: purple; background-color: mediumseagreen; padding: 5px;">Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-center" style="color:mediumseagreen">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10 text-center" style="color:purple">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2 text-center" style="color: mediumseagreen">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class="col-sm-10 text-center" style="color: purple">
            @Html.DisplayFor(model => model.Colour)
        </dd>
        <dt class="col-sm-2 text-center" style="color: mediumseagreen">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10 text-center" style="color: purple">
            @Html.DisplayFor(model => model.Size)
        <dt class="col-sm-2 text-center" style="color: mediumseagreen">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10 text-center" style="color: purple">
            @Html.DisplayFor(model => model.Description)
        <dt class="col-sm-2 text-center" style="color: mediumseagreen">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class="col-sm-10 text-center" style="color: purple">
            <img src="@Html.DisplayFor(model => model.Picture)" alt=" Image" width="100" />
        <dt class="col-sm-2 text-center" style="color:mediumseagreen">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10 text-center" style="color: purple">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2 text-center" style="color: mediumseagreen">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10 text-center" style="color: purple">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
@if (this.User.IsInRole("Administrator"))
{
    <div class="text-center" style="color:mediumpurple">
        <a asp-action="Edit" asp-route-id="@Model.Id" style="color:seagreen">Edit</a>
        <a asp-action="All" style="color:seagreen">Back to List</a>
    </div>
}
