@model IEnumerable<SkateApp.Models.UserListingViewModel>
    @{
        ViewData["Title"] = "All Users";
    }

    <h1 class="text-center" style="color: lightgreen; background-color: purple; padding: 5px;">All Users</h1>

    <form asp-controller="SkateboardsUser" asp-action="Index" method="get">
    </form>

    <table class="table text-center" style="color:seagreen">
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Job status</th>
            <th>Actions</th>
        </tr>

        @foreach (var user in Model)
        {
            <tr class="text-center" style="color:purple"> 
                <td>@user.UserName</td>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Email</td>
                <td>@user.IsAdmin</td>

                <td>
                    @if (user.UserName == "admin")
                    {
                        <form asp-action="Promote" asp-controller="SkateboardUsers" method="post">
                            <input type="hidden" name="userId" value="@user.Id" />
                        </form>
                    }
                    else if (!user.IsAdmin)
                    {
                        <form asp-action="Promote" asp-controller="SkateboardUsers" method="post">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="bgtn btn-success">Hire</button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="Demote" asp-controller="SkateboardUsers" method="post">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="bgtn btn-danger">Fire</button>
                        </form>
                    }
                </td>
                </tr>

            }
                </table>