@model AirLineTicketsApp.Entities.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Izlitane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Izlitane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kacane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kacane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plane.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
